.header__main {
  width: 100%;
  background: #0d0f3d;
  height: 8rem;
  display: flex;
  justify-content: center;
}
.header__child {
  display: flex;

  position: absolute;
  top: 1.5rem;
  width: 90%;
  align-items: center;
}
.header__img img {
  width: 12rem;
  object-fit: contain;
}
.header__img {
  position: relative;
  z-index: 10;
}
.header__navigation {
  position: relative;
  z-index: 1;
  box-shadow: rgb(163, 163, 163) 0px 15px 0px 0px;
  display: flex;

  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: -1.5rem;
  background-color: white;
  height: fit-content;
  padding: 1.5rem 2rem;
}
.header__navigation ul {
  display: flex;
  gap: 2rem;
}
.header__navigation ul li {
  list-style: none;
}
.header__navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
.header__signin {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 756px) {
  .header__child,
  .header__navigation {
    flex-direction: column;
    gap: 1rem;
  }
  .header__main {
    height: 20rem;
  }
}

.signup__login {
  display: flex;
  gap: 1rem;
}
