.start__page__main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.start__page__child__left,
.start__page__child__right {
  width: 50%;
}
.start__page__child__left {
  background: linear-gradient(138.45deg, #0d13a3 0.54%, #648fae 79.23%);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
.start__page__child__left h2 {
  font-size: 2.5rem;
}
.start__page__child__left p {
  width: 60%;
  text-align: center;
}
.start__page__child__left img {
  width: 35rem;
  object-fit: contain;
}

.start__page__child__right {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start__page__child__right h1 {
  font-size: 3.5rem;
  color: #0d5ba3;
}
.start__page__child__right img:nth-child(1) {
  width: 12rem;
  object-fit: contain;
}
.start__page__child__right img:nth-child(2) {
  width: 30rem;
  object-fit: contain;
}
.start__page__child__right .buttons {
  display: flex;
  gap: 2rem;
}
.start__page__child__right .buttons button {
  font-size: 3.5rem;
  padding: 0.938rem 3.75rem;
  background: rgba(13, 91, 163, 0.36);
  border: 5px solid rgba(0, 0, 0, 0.09);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 756px) {
  .start__page__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .start__page__child__left,
  .start__page__child__right {
    width: 100%;
  }
  .start__page__child__left {
    height: 30vh;
  }
  .start__page__child__left img {
    display: none;
  }
  .start__page__child__right {
    height: 70vh;
  }
}
